<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
    <!-- Axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
      .success {
        color: blue;
        font-weight: 700;
      }
      .error {
        color: red;
        font-weight: 700;
      }
    </style>
  </head>
  <body>
    <form name="login">
      <h1>로그인</h1>
      <label>
        <span>아이디</span>
        <input type="text" name="userId" required />
      </label>
      <br />
      <label>
        <span>비밀번호</span>
        <input type="password" name="userPw" required />
      </label>
      <br /><br />
      <button type="button" onclick="clickLogin()">로그인1</button>
      <button type="button" onclick="clickLogin2()">로그인2</button>
    </form>
    <div class="result"></div>
    <script>
      const result = document.querySelector('.result');

      // 과제1 : axios - promise
      function clickLogin() {
        const form = document.forms['login'];
        const data = {
          userId: form.userId.value,
          userPw: form.userPw.value,
        };
        // console.log(data);

        if (!form.userId.checkValidity() || !form.userPw.checkValidity()) {
          result.textContent = '아이디와 비밀번호는 필수 값입니다!!';
          return;
        }

        // 서버에 전달
        axios({
          method: 'post',
          url: '/login',
          data,
        })
          .then((res) => {
            console.log('res', res);
            console.log('res.data', res.data);
            const response = res.data;
            if (response.isSuccess) {
              result.textContent = '로그인 성공!';
              result.classList.add('success');
              result.classList.remove('error');
            } else {
              result.textContent = '로그인 실패ㅜㅜ';
              result.classList.add('error');
              result.classList.remove('success');
            }
          })
          .catch((err) => {
            console.error('err!', err);
          });
      }

      // 과제2 : axios - async
      async function clickLogin2() {
        try {
          const form = document.forms['login'];
          const data = {
            userId: form.userId.value,
            userPw: form.userPw.value,
          };

          // 서버 요청
          const res = await axios({
            method: 'post',
            url: '/login2',
            data,
          });

          console.log('res', res); //서버에서 보내준 응답
          console.log('res.data', res.data);
          const response = res.data;

          if (response.isSuccess) {
            result.textContent = `${response.userName}님 로그인 성공!`;
            result.classList.add('success');
            result.classList.remove('error');
          } else {
            result.textContent = '로그인 실패ㅜㅜ';
            result.classList.add('error');
            result.classList.remove('success');
          }
        } catch (err) {
          console.error('err:', err);
        }
      }
    </script>
  </body>
</html>
