<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>register 페이지</title> -->
    <%- include('./includes/head.ejs', {title: '회원가입'})%>
  </head>
  <body>
    <%- include('./includes/header.ejs') %>
    <h1>회원가입 페이지</h1>
  </body>
</html>
