<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multer 사용해보기</title>
    <!-- Axois CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      form {
        border: 2px solid #ccc;
        padding: 1rem;
      }

      .profile {
        background-color: pink;
        border-radius: 50%;
        box-shadow: 0 0 20px #0002;
      }
    </style>
  </head>
  <body>
    <h1>multer 사용해보기</h1>
    <h2>파일 1개 업로드 : single() ->req.file 객체형태</h2>
    <!-- multer 사용 시 enctype 필수 설정! -->
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="userfile" />
      <br />
      <input type="text" name="title" placeholder="사진 제목" />
      <br />
      <button>업로드</button>
    </form>

    <h2>하나의 Input에 파일 여러개 업로드 : array() -> req.files 배열 형태</h2>
    <form action="/uploads/array" method="post" enctype="multipart/form-data">
      <!-- (!) 하나의 Input 태그에 여러 개 업로드하려면 반드시 Multiple 속성 있어야 함  -->
      <input type="file" name="multifiles" multiple />
      <br />
      <input type="text" name="title" placeholder="사진 제목" />
      <br />
      <button>업로드</button>
    </form>

    <h2>여러 개의 Input에 파일 업로드 : fields() ->req.files 객체형태</h2>
    <form action="/uploads/fields" method="post" enctype="multipart/form-data">
      <input type="file" name="file1" /> <br />
      <input type="text" name="title1" placeholder="사진 제목1" />

      <br /><br />
      <input type="file" name="file2" /> <br />
      <input type="text" name="title2" placeholder="사진 제목2" />

      <br /><br />
      <input type="file" name="file3" /> <br />
      <input type="text" name="title3" placeholder="사진 제목3" />

      <br /><br />
      <button>업로드</button>
    </form>

    <hr />
    <h2>동적 Form 파일 업로드</h2>
    <div class="dynamic">
      <input type="file" name="dynamicFile" id="dynamicFile" />
      <br />
      <input
        type="text"
        nmae="dynamicTitle"
        id="dynamicTitle"
        placeholder="프로필 설명"
      />
      <button onclick="fileUpload()">프로필 업로드</button>
      <button onclick="fileAndTextUpload()">프로필 업로드(with title)</button>
      <!-- (!) img의 src는 클라이언트(브라우저)가 접근하는 경로 -->
      <img
        src="/static/default.jpg"
        alt="기본 프로필 이미지"
        width="200"
        height="200"
      />
    </div>
    <div class="tit"></div>

    <script>
      function fileUpload() {
        const file = document.getElementById('dynamicFile');
        console.log(file); //<input type="file" name="dynamicFile" id="dynamicFile">
        console.dir(file); //files 속성
        console.log('file.files', file.files);
        console.log('file.files[0]', file.files[0]);

        // JS에서 기본 제공하는 클래스
        // - 파일을 페이지 전환 없이 비동기로 제출하고 싶을 때 사용
        const formData = new FormData();
        // append('key', value) 라고 생각하면 됨
        formData.append('dynamicFile', file.files[0]);
        axios({
          method: 'post',
          url: '/dynamicUpload',
          data: formData,
          //   multer 사용 시 enctype 필수 설정! 이건 Form 태그가 아니기때문에
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        }).then((res) => {
          console.log(res.data);
          //서버의 rea.file
          // {
          //   fieldname: 'userfile', //폼 내부에 정의한 name값
          //   originalname: 'IMG_7500.JPG', //원본 파일명 (로컬)
          //   encoding: '7bit', //파일 인코딩 타입
          //   mimetype: 'image/jpeg', //파일 타입
          //   destination: 'uploads/', //파일 저장 경로
          //   filename: 'dd4ab301b99e5f61ea00c066ad825425', //저장된 파일명
          //   path: 'uploads/dd4ab301b99e5f61ea00c066ad825425', //업로드된 파일 전체 경로
          //   size: 231087 //파일 크기(byte)
          // }
          console.log(res.data.path); //uploads/dd4ab301b99e5f61ea00c066ad825425
          console.log(res.data.originalname); //IMG_7500.JPG

          const img = document.querySelector('img');
          img.src = `/${res.data.path}`;
        });
      }
      // 2. 글과 파일 함께 업로드
      function fileAndTextUpload() {
        const formData = new FormData();
        // input[type='file']: 파일 정보를 서버로 보내기 위해 선택
        const file = document.getElementById('dynamicFile');
        // input[type='text']: 이미지 제목(글자 정보)를 서버로 보내기 위해 선택
        const title = document.getElementById('dynamicTitle');
        // img 태그 : 사진의 src, alt 속성을 바꾸기 위해서 선택
        const img = document.querySelector('img');

        console.log(file.files);

        formData.append('dynamicFile', file.files[0]);
        formData.append('dynamicTitle', title.value);

        /*
        //서버로 보낼 객체 만들기
        formData = {
          dynamicFile: 파일 정보(fileList[0]
          dynamicTitle: '사진 제목 string'  
        }
        */

        axios({
          method: 'post',
          url: '/dynamicUpload',
          data: formData,
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })
          .then((res) => {
            console.log('res.data', res.data);
            console.log('프로필 설명', res.data.fileInfo.dynamicTitle); //공부가 절 때렸어요
            console.log('파일 경로', res.data.file.path); //uploads/IMG_75001732671555408.JPG

            img.src = '/' + res.data.file.path; //경로 바꿔주기
            img.alt = res.data.fileInfo.dynamicTitle + '사진';

            // div class='tit' 사진 정보
            img.classList.add('profile');
            document.querySelector('.tit').innerText =
              res.data.fileInfo.dynamicTitle;
          })
          .catch((err) => console.error('error!', err));
      }
    </script>
  </body>
</html>
