<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>λ“κΈ€ λ¨μ</title>
  </head>
  <body>
    <h1>λ“κΈ€ λ¨μ π’¬</h1>
    <a href="/">ν™μΌλ΅ μ΄λ™</a>
   <ul>
    <% for(let i=0; i<commentInfo.length;i++ ){ %>
        <!-- <li> <%=commentInfo[i].id %></li> -->
         <li> 
            <b><%=commentInfo[i].userid%> </b>
            <a href="./comment/<%=commentInfo[i].id%>"><%= commentInfo[i].comment%></a>
        </li>
     <% } %>
   </ul>
  </body>
</html>

<!-- commentIfno:
    [
        { id: 1, userid: 'bebe', date: '2024-12-01', comment: 'κ³µλ¶€κ°€ μ  λ•λ Έμ–΄μ”' },
        { id: 2, userid: 'santa', date: '2024-11-30', comment: 'νΈνΈνΈνΈ' },
        { id: 3, userid: 'rudolph', date: '2024-12-02', comment: 'μ§•κΈ€λ²¨ μ§•κΈ€λ²¨' },
        { id: 4, userid: 'johnDoe', date: '2024-12-24', comment: 'μΈλ©΄ μ• λΌ' }
    ]  -->
