<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지</title>
    <!-- 
  { realId: 'santa', 
   realPw: 'qwer1234*', 
   name: ' 산타', 
   age: 99 }
  --></head>
  <body>
    <h1>마이페이지 가보자고</h1>
    <a href="/">홈으로 이동하기</a>
    <input type="text" readonly value="<%= realId %>" />
    <input type="text" readonly value="<%= realPw %>" />
    <input type="text" readonly value="<%= name %>" />
    <input type="text" readonly value="<%= age%>" />
  </body>
</html>
