<!DOCTYPE html>
<html lang="ko">
  <%- include('include/include', { title: '회원가입' })%>
  <body>
    <h1>회원가입</h1>
    <form name="form_register">
      <label for="userid">ID</label>
      <input id="userid" type="text" name="userid" required /><br />
      <label for="password">Password</label>
      <input id="password" type="password" name="pw" required /><br />
      <label for="nickname">Name </label>
      <input id="nickname" type="text" name="name" required /><br />
      <button type="button" onclick="createUser();">Register</button>
    </form>
    <!-- TODO: href 속성값 설정하기 -->
    <a href="/user/signin">Login</a>

    <script>
      // TODO: [Register] 버튼 클릭시 서버에 회원가입 요청하기
      // 1. POST /user/signup
      const form = document.forms['form_register'];
      function createUser() {
        console.log(form.userid);

        if (!form.checkValidity()) {
          form.reportValidity(); //폼 유효성 검사 조건(required, minlength...) 확인 -> boolean 값
          // alert('아이디, 비밀번호, 이름을 모두 입력해주세요');
          return;
        }

        axios({
          method: 'post',
          url: '/user/signup',
          data: {
            userid: form.userid.value,
            pw: form.pw.value,
            name: form.name.value,
          },
        })
          .then((res) => {
            console.log('res.data', res.data); //데이터 없음

            alert('회원가입 성공!');
            // 'user/signin' 현재 경로 기준 상대 경로로 이동 -> http://localhost:PORT/user/user/signin
            document.location.href = '/user/signin'; //절대 경로 사용
          })
          .catch((err) => {
            console.error('회원가입 중 문제발생', err);
          });
      }
    </script>
  </body>
</html>
