<!DOCTYPE html>
<html lang="ko">
  <%- include('include/include', { title: '로그인' })%>
  <body>
    <h1>로그인</h1>
    <!-- 
      [로그인] 버튼을 클릭하면 profile.ejs에서 특정 유저 정보를 보여주어야 하기 때문에 
      userid 정보를 value에 저장(POST /user/signin 요청의 응답을 받은 후 수행)하여
      폼(input)이 보이지 않도록 hidden 처리함
    -->
    <form name="form_info" action="/user/profile" method="POST">
      <!-- hidden 필드: 자동화된 데이터 전송(로그인 후 사용자 입력 필요 없음)
       로그인 성공 후 서버에서 받은 데이터(userid)를 input 태그의 value에 동적 설정
       이후 form_info 폼을 전송하여 유저 정보를 /user/porfile에 전달
        -->
      <input type="hidden" name="userid" />
    </form>

    <form name="form_login">
      <label for="userid">ID</label>
      <input id="userid" type="text" name="userid" required /><br />
      <label for="password">Password</label>
      <input id="password" type="password" name="pw" required /><br />
      <button type="button" onclick="login();">Login</button>
    </form>

    <!-- TODO: href 속성값 설정하기 -->
    <a href="/user/signup">Register</a>

    <script>
      // TODO: [Login] 버튼 클릭시 서버에 로그인 요청하기
      // POST /user/signin

      function login() {
        const infoForm = document.forms['form_info'];
        const loginForm = document.forms['form_login'];

        //유효성 검사
        if (!loginForm.checkValidity()) {
          loginForm.reportValidity();
          return;
        }

        axios({
          method: 'post',
          url: '/user/signin',
          data: {
            // 로그인 버튼 눌렀을 때, 모델 데이터와 비교하기 위해 보내주는 정보
            userid: loginForm.userid.value,
            pw: loginForm.pw.value,
          },
        })
          .then((res) => {
            // signin {data: {…}, status: 200, statusText: 'OK', headers: r, config: {…}, …}
            console.log('signin', res);
            const { data } = res;
            console.log(data); //{isLogin: true, userInfo: {…}}

            if (data.isLogin) {
              alert('로그인 성공!');
              // hidden form인 infoForm에 userid 채우기
              infoForm.userid.value = loginForm.userid.value;
              // 제출 (POST /user/profile)
              infoForm.submit(); //infoForm 제출
            } else {
              alert('로그인 실패');
              loginForm.reset(); //infoForm 초기화(제출 안함)
            }
          })
          .catch((err) => {
            console.error('로그인 중 문제발생:', err);
          });
      }
    </script>
  </body>
</html>
