<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입 페이지</title>
    <style>
      form label {
        display: flex;
      }

      form label span {
        width: 100px;
      }
    </style>
  </head>
  <body>
    <h2>실습문제</h2>
    <form action="/register" method="post" enctype="multipart/form-data">
      <label>
        <span>아이디</span>
        <input type="text" name="userid" />
      </label>
      <label>
        <span>비밀번호</span>
        <input type="password" name="password" />
      </label>
      <label>
        <span>이름</span>
        <input type="text" name="userName" />
      </label>
      <label>
        <span>나이</span>
        <input type="number" name="age" />
      </label>
      <label>
        <span>프로필 사진</span>
        <input type="file" name="profileImg" />
      </label>
      <button type="submit">회원 가입</button>
      <button type="reset">reset</button>
      <!-- <button type="button" onclick="reset()">reset</button> -->
    </form>
  </body>
</html>
