.box{
    display:inline-block;
    width: 400px;
    height: 800px;
    border: 1px solid black;
}

.background{
    background-color: aquamarine;
    background:palegoldenrod;

    /* color image repeat position/size .. */
        /* 90deg 대신to right도 가능 */
    background: linear-gradient(90deg, black, white)
}

.background-image{
    background-image: url('./img/apple.png');

    /* 1. background-repeat */
    background-repeat: repeat;
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    background-repeat: no-repeat;

    /* 2. background-position */
    background-position: top left;
    background-position: center;
    background-position: top center;
    background-position: 100px;
    background-position: 100px 10px; /* x축 y축 순서 */
    background-position: top left;

    /* 3. background-size */
    background-size: auto; /* (default)원본 사이즈 유지 */
    /* size를 하나만 쓰면 가로너비 설정되고, 세로는 비율에 맞춰서 자동설정됨 */
    background-size: 50px; /* 가로축 50px, 세로축은 가로비율에 맞춰 조정 */
    background-size: 100px 200px; /* x축, y축 순서*/
    background-size: contain ;
    background-size: cover; /*요소 가득차게, 요소의 세로 길이에 맞춰*/
    background-size: 100px;
    
    /* 4. background-attachment */
    background-attachment: scroll;
    background-attachment: fixed;

}

body{
    height: 1000px;
}