@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@font-face {
    font-family: 'YeongamWolchulsanTTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/YeongamWolchulsanTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    /* font-family: 'GumiIndustryTTF'; */
}

.font-link{
    font-family: "Nanum Pen Script", cursive;

}

.font-import{
    font-family: "Nanum Pen Script", cursive;
}

.noonnu_font{
    font-family: 'YeongamWolchulsanTTF', serif;
}

.container{
    background-color: gold;
    /* 글자색은 기본적으로 상속(cascading) */
    color: gray;
}

.container > .sentences{
    /* font-weight: 글씨 굵기 */
    font-weight:400;
    font-weight:700;

    /* font-size: 글씨 크기(default 16px) */
    font-size: 16px;
    /* font-size: 1rem; */
    /* font-size: 1em; */

    /* text-align: 정렬 */
    text-align: center;
    text-align: right;
    text-align: left;

    /* text-decoration: 문자꾸미기 속성 */
    /* text-decoration: line-through;
    text-decoration: underline;
    text-decoration: overline; */

    /* line-height: 행간 */
    /* line-height: 1.4;
    line-height: 20px; */

}

.test{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    text-align: center;
    /* 글이 한 줄일 때는 세로기준 가운데 정렬로 사용한다. */
    line-height: 100px;
}

.container a{
    color: gray;
    text-decoration: none;
    /* 색상 지정 방법 
    1. 색상이름으로 설정! - red, skyblue, purple, ...
    2. rgb(숫자,숫자,숫자)
        - 0~255 중에 하나의 숫자가 들어감
        - rgba(): a는 투명도 지정,
    3. #NNNNNN: 
        rgb(0,0,0): black : #000000
        rgb(255,255,255): white : #ffffff
        - 0~9와 a,b,c,d,e,f로 이루어진 수
    */
}