.img-box{
    width: 400px;
    height: 250px;
    background-color: #9494ed;

}

.img-box img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid gold;
}

.img-box img:hover{
    /* transform */
    /* 1. skew: 기울이기 함수
    - skew(x_deg, y_deg), skewX(x_deg), skewY(y_deg)
    */
    transform: skewX(30deg);
    transform: skewY(30deg);
    transform: skew(30deg, 30deg);

    /* 2. scale: 크기 조절 함수 
    - scale(숫자, 숫자), scaleX(배수), scaleY(배수)
    - 기준축: 이미지 가운데
    */
    transform: scaleX(2);
    transform: scaleY(0.7);
    transform: scale(1.5, 0.8);
    transform: scale(1.5);

    /* 3. translate: 이동 함수 */
    transform: translateX(100px);
    transform: translateY(-100px);
    transform: translate(100px, 50px);

    /* 4. rotate: 회전 함수 */
    transform: rotate(45deg);
    transform: perspective(200px) rotateX(45deg);
    transform: perspective(400px) rotateY(45deg);

    backface-visibility: visible;
    backface-visibility: hidden;

    transform: translateX(50px);
    transform: scaleX(1.2);
    /* 단축속성 */
    /* transform: perspective() translate() scale() rotate() skew(); */
        /* 이동함수가 가장 먼저 나와야함 */
    transform: translateX(100px) scaleX(1.2);
}

.box{
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: black;
}

.box1:hover{
    background-color: pink;
    height: 120px;
    width: 120px;

    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 2s;
    transition-property: background-color;
}

.box2:hover{
    background-color: aqua;
    transform: translateX(100px) scaleX(2);

    /* transition: property duration timing-function delay */
    transition: transform 1s ease-in-out 2s;
}

.box3{
    /* 0.6s */
    transition: .6s;
}

.box3:hover{
    /* opacity: 0; */

    /* visibility, display 같은 속성값들이
    중간값들을 가지지 않는 경우는 transition이 적용되지 않음 */
    visibility: hidden;
}

/* 가운데 정렬 방법 3가지 */
.outer{
    width: 300px;
    height: 300px;
    background-color: aquamarine;
}

.outer .inner{
    width: 100px;
    height: 100px;
    background-color: pink;
}

/* 1. flex (권장!) */
.outer1{
    /* 박스요소는 text-align으로 중앙 정렬이 안됨
    text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer1 > .inner1{}

/* 2. position, transform */
    /* position absolute는 문서의 흐름을 해치기 때문에 권장하지 않음
    - 가끔 display flex 속성이 적용 안 되는 경우 사용 */
.outer2{
    position: relative;
}
.outer2 > .inner2{
    position: absolute;
    /* 정사각형 꼭지점 좌측 상단이 중앙 정렬됨 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 3. position, margin: auto */
.outer3{
    position: relative;
}
.outer3 > .inner3{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    /* position relative 적용되는 순간 의미 없어짐 */
    margin: auto;
}